<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fs.human.calopic.admin.dao.AdminDAO">

    <resultMap id="AdminUserMap" type="fs.human.calopic.admin.vo.AdminVO">
        <id     column="USER_ID"       property="userId"/>
        <result column="IS_ADMIN"      property="isAdmin"/>
        <result column="USER_NAME"     property="userName"/>
        <result column="USER_QUESTION" property="userQuestion"/>
        <result column="USER_ANSWER"   property="userAnswer"/>
        <result column="CREATED_DATE"  property="createdDate"
                jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- role: all | admin | user -->
    <select id="selectUsers" parameterType="string" resultMap="AdminUserMap">
        SELECT
        u.USER_ID,
        u.IS_ADMIN,
        u.USER_NAME,
        u.USER_QUESTION,
        u.USER_ANSWER,
        u.CREATED_DATE
        FROM TB_USER u
        <where>
            <choose>
                <when test="role == 'admin'">
                    u.IS_ADMIN = 'Y'
                </when>
                <when test="role == 'user'">
                    u.IS_ADMIN = 'N'
                </when>
                <otherwise>
                    1 = 1
                </otherwise>
            </choose>
        </where>
        ORDER BY u.USER_ID ASC
    </select>

    <delete id="deleteUsers">
        DELETE FROM TB_USER
        WHERE USER_ID IN
        <foreach collection="userIds" item="id" open="(" separator="," close=")">
            #{id,jdbcType=NUMERIC}
        </foreach>
    </delete>



    <resultMap id="FoodMap" type="fs.human.calopic.admin.vo.AdminVO">
        <id column="FOOD_ID" property="foodId"/>
        <result column="FOOD_NAME" property="foodName"/>
        <result column="FOOD_KCAL" property="foodKcal"/>
        <result column="FOOD_CARBO" property="foodCarbo"/>
        <result column="FOOD_PROTEIN" property="foodProtein"/>
        <result column="FOOD_FAT" property="foodFat"/>
        <result column="YOLO_ID" property="yoloId"/>
        <result column="QTY_COEFFI" property="qtyCoeffi"/>
    </resultMap>

    <select id="selectClasses" resultMap="FoodMap">
        SELECT FOOD_ID, FOOD_NAME, FOOD_KCAL, FOOD_CARBO, FOOD_PROTEIN, FOOD_FAT, YOLO_ID, QTY_COEFFI
        FROM TB_FOOD
        ORDER BY FOOD_ID ASC
    </select>

    <insert id="insertClass" parameterType="fs.human.calopic.admin.vo.AdminVO">
        INSERT INTO TB_FOOD (
        FOOD_ID, FOOD_NAME, FOOD_WEIGHT,
        FOOD_KCAL, FOOD_CARBO, FOOD_PROTEIN, FOOD_FAT, YOLO_ID, QTY_COEFFI, CREATED_DATE
        ) VALUES (
        #{foodId}, #{foodName}, '100g',
        #{foodKcal}, #{foodCarbo}, #{foodProtein}, #{foodFat}, #{yoloId}, #{qtyCoeffi}, SYSDATE
        )
    </insert>

    <select id="selectNextFoodId" resultType="long">
        SELECT NVL(MAX(FOOD_ID), 0) + 1 FROM TB_FOOD
    </select>

    <select id="selectFoodNames" resultType="string">
        SELECT FOOD_NAME
        FROM TB_FOOD
        ORDER BY FOOD_NAME ASC
    </select>

    <delete id="deleteClasses">
        DELETE FROM TB_FOOD
        WHERE FOOD_ID IN
        <foreach collection="classIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
